body {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
}
a {
  color: aquamarine;
  font-size: 16px;
}
video {
  
  
}

footer {
  color: white;
  text-align: right;
  opacity: 0.3;
}
p {
    color: gray;
    font-size: 21px;
}